@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    word-break: break-word;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
}

body {
    position: relative;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    color: #151515;
}

h1 {
    margin-bottom: 10px;
    font-size: 20px;
}

img {
    max-width: 100%;
    border-style: none;
}

ul,
li {
    list-style: none;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover:after {
    width: 100%;
}

p {
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

.section {
    padding: 50px 100px;
}

.about {
    margin-bottom: 30px;
}

.portfolio_block {
    display: flex;
}

.portfolio_list {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.portfolio_list_child {
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.portfolio_list_child::after {
    display: block;
    content: '';
    width: 0;
    height: 1px;
    background-color: #151515;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 1s all ease-in-out;
}

.portfolio_list_child.active::after {
    width: 100%;
}

.portfolio_photo {
    width: 70%;
    position: relative;
}

.porfolio_photo_img_desk,
.porfolio_photo_img_mob {
    display: none;
    position: absolute;
}

.porfolio_photo_img_desk.active,
.porfolio_photo_img_mob.active {
    display: block;
}

.porfolio_photo_desk {
    height: 0;
    width: 100%;
    position: relative;
    padding-bottom: 60%;
}

.portfolio_photo_mob {
    height: 0;
    width: 100%;
    position: relative;
    padding-bottom: 40%;
}

.porfolio_photo_img_desk {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 770px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 22px -4px rgb(0 0 0 / 17%);
}

.porfolio_photo_img_mob {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center; 
    z-index: 5;
    max-height: 350px;
    height: 100%;
    top: unset;
    bottom: -30%;
    left: unset;
    right: 10%;
    max-width: 200px;
}

.about_main {
    display: flex;
    align-items: center;
}

.about_social {
    display: flex;
    align-items: center;
}

.about_social_link {
    padding: 0 5px;
}

.social_path {
    transition: 1s;
}

.about_social_link:hover .social_path{
    fill: black;
}

@media screen and (max-width: 1100px) {
    .portfolio_block {
        flex-direction: column;
    }

    .portfolio_block_child {
        width: 100%;
    }

    .porfolio_photo_img_desk {
        max-width: 90%;
        height: auto;
    }

    .portfolio_list {
        margin-bottom: 30px;
    }
    
    .porfolio_photo_img_mob {
        max-width: none;
        right: -40%;
    }
}

@media screen and (max-width: 768px) {
    .section {
        padding: 25px 20px;
    }
}